<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Highlights</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"> <h1>News Highlight</h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link"><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Al Jazeera English</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{url_for('BBC') }}">BBC news</a>
      </li>
	<li class="nav-item">
        <a class="nav-link" href="{{url_for('Axios') }}">Axios</a>
      </li>


    </ul>
  </div>
</nav>
</head>
<body>

<div class="jumbotron" style="color:black">

    <h1>Flask News Web Application</h1>

</div>

<div class="container">

    {% for new, des, i, pubAt, url in context %}

    <img src="{{i}}" alt="">
    <h3>News: </h3> {{new}}
    <h4>Description: </h4> {{des}}
    <h5>Published at:</h5> {{pubAt}}
    <br>
    <a href="{{url}}" target="_blank" class="btn btn-outline-dark">Read more</a>


    {% endfor %}


</div>


</body>
</html>