<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Highlights</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <body>
<header>
    <h1>News Highlight</h1>
    <nav>
        <ul class="nav">
            <li><a href="{{ url_for('index') }}">ALjazeera</a></li>
             <li><a href="{{url_for('BBC') }}">BBC</a></li>
             <li><a href="#">Al-jazeera</a></li>
             <li><a href="#">ABC News</a></li>
        </ul>

    </nav>
</header>
</body>